n8n-workflows/release-tweet-updated.json
{
  "name": "LeanCTX Release \u2192 Discord + Twitter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lean-ctx-release",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "lean-ctx-release"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-action",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Only Published Releases",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const release = $input.first().json.body.release;\nconst repo = $input.first().json.body.repository;\n\nconst tag = release.tag_name;\nconst title = release.name || tag;\nlet body = release.body || 'No release notes.';\nif (body.length > 4000) body = body.substring(0, 4000) + '...';\nconst url = release.html_url;\nconst author = release.author ? release.author.login : 'unknown';\nconst publishedAt = release.published_at;\n\nconst discordPayload = {\n  embeds: [{\n    title: '\\u{1F680} ' + title,\n    url: url,\n    color: 5763719,\n    description: body,\n    fields: [\n      {\n        name: '\\u{1F4E6} Install',\n        value: '```bash\\nlean-ctx update\\ncargo install lean-ctx\\nnpm i -g lean-ctx-bin\\nbrew upgrade lean-ctx\\n```',\n        inline: false\n      },\n      {\n        name: '\\u{1F517} Links',\n        value: '[GitHub Release](' + url + ') \\u2022 [crates.io](https://crates.io/crates/lean-ctx) \\u2022 [npm](https://www.npmjs.com/package/lean-ctx-bin) \\u2022 [Website](https://leanctx.com)',\n        inline: false\n      }\n    ],\n    footer: {\n      text: 'lean-ctx ' + tag + ' \\u2022 by ' + author\n    },\n    timestamp: publishedAt\n  }]\n};\n\nconst siteUrl = 'https://leanctx.com';\n\nconst lines = (release.body || '').split('\\n').filter(l => l.trim() && !l.startsWith('#') && !l.startsWith('---') && !l.startsWith('```'));\nlet highlight = '';\nif (lines.length > 0) {\n  highlight = lines[0].replace(/^[\\s*\\-]+/, '').replace(/\\*\\*/g, '').trim();\n  if (highlight.length > 60) highlight = highlight.substring(0, 57) + '...';\n}\n\nconst MAX = 200;\nconst base = '\\u{1F680} lean-ctx ' + tag + ' released!';\nconst link = '\\n\\n' + siteUrl;\nconst tags = '\\n\\n#AI #DevTools #MCP #OpenSource';\nconst desc = highlight ? '\\n' + highlight : '';\n\nlet tweet = base + desc + link + tags;\nif (tweet.length > MAX) tweet = base + desc + link;\nif (tweet.length > MAX) tweet = base + link + tags;\nif (tweet.length > MAX) tweet = base + link;\nif (tweet.length > MAX) tweet = '\\u{1F680} lean-ctx ' + tag + link;\n\nreturn [{\n  json: {\n    discordPayload,\n    tweet,\n    tag,\n    title,\n    url: siteUrl\n  }\n}];"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Build Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1488799951445295199/qrOtuLVL5PA-VJjZH_kDZzhXDBl-YpVoFCSv6EogOVpHodVfXwUcZagK15bIhGbjvYsH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.discordPayload) }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst https = require('https');\n\nconst CK = 'wZN4Nch9rHmtHC6Y33lrhe2b5';\nconst CS = 'm7UuVQAnZdd7H3a5Meoj3pdBNPdduRWnyWnwkHAcgkML8bq6DR';\nconst AT = '1999852637383217152-kwKk9mneIi0Cb48mQDkV58FRfmQujD';\nconst AS = '8RHZbwerv7BmQNFOTY8xNkwEpSlbwN0hjTHohgSp7puHN';\n\nconst tweet = $input.first().json.tweet;\nconst url = 'https://api.twitter.com/2/tweets';\n\nfunction pctEnc(s) {\n  return encodeURIComponent(s).replace(/[!'()*]/g, c => '%' + c.charCodeAt(0).toString(16).toUpperCase());\n}\n\nconst ts = Math.floor(Date.now() / 1000).toString();\nconst nonce = crypto.randomBytes(16).toString('hex');\n\nconst op = {\n  oauth_consumer_key: CK,\n  oauth_nonce: nonce,\n  oauth_signature_method: 'HMAC-SHA1',\n  oauth_timestamp: ts,\n  oauth_token: AT,\n  oauth_version: '1.0'\n};\n\nconst sp = Object.keys(op).sort().map(k => pctEnc(k) + '=' + pctEnc(op[k])).join('&');\nconst bs = 'POST&' + pctEnc(url) + '&' + pctEnc(sp);\nconst sk = pctEnc(CS) + '&' + pctEnc(AS);\nconst sig = crypto.createHmac('sha1', sk).update(bs).digest('base64');\n\nconst ah = 'OAuth ' + Object.entries({...op, oauth_signature: sig}).map(([k,v]) => k + '=\"' + pctEnc(v) + '\"').join(', ');\n\nconst body = JSON.stringify({ text: tweet });\n\nconst result = await new Promise((resolve) => {\n  const req = https.request(url, {\n    method: 'POST',\n    headers: {\n      'Authorization': ah,\n      'Content-Type': 'application/json',\n      'Content-Length': Buffer.byteLength(body)\n    }\n  }, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => {\n      try { resolve({ status: res.statusCode, body: JSON.parse(data) }); }\n      catch(e) { resolve({ status: res.statusCode, body: data }); }\n    });\n  });\n  req.on('error', err => resolve({ status: 0, error: err.message }));\n  req.write(body);\n  req.end();\n});\n\nreturn [{ json: { twitter: result, tweet } }];"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 420],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{"node": "Only Published Releases", "type": "main", "index": 0}]]
    },
    "Only Published Releases": {
      "main": [[{"node": "Build Payloads", "type": "main", "index": 0}]]
    },
    "Build Payloads": {
      "main": [[
        {"node": "Post to Discord", "type": "main", "index": 0},
        {"node": "Post to Twitter", "type": "main", "index": 0}
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
